# Ignorar diretórios de compilação e build
target/
lib/
/com/
usr/
node_modules/
out/
gen/
dist/
avatar/
# Ignorar arquivos de formatos específicos
/uploads/
/audio/
/data/
models/
*.zip
*.log
*.tmp
*.swp
*.swo
*.pid
.vite

# Ignorar arquivos relacionados à IDE
.idea/
*.iml
*.ipr
*.iws

# Ignorar cache do Maven e do Gradle
.mvn/
.mvn/wrapper/
.gradle/

.vscode/
datasets/
.cursorrules
.cursor/
.DS_Store
CLAUDE.md
